<li class="menu__item" id="{{id}}">
  <div class="card">
    <img src="{{image}}" alt="Картофель, запеченный в мундире" class="card__image" />
    <div class="card__content">
      <h2 class="card__name">{{name}}</h2>
      <p class="card__price">
        <i class="material-icons">
          monetization_on
        </i>
        {{price}} кредитов
      </p>

      <p class="card__descr">{{description}}</p>

      <ul class="tag-list">
        {{#each ingredients}}
        <li class="tag-list__item">{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="counter">
      <button class="card__button button" data-action="remove">
        <i class="material-icons button__icon">
          shopping_cart
        </i>
        Удалить
      </button>
      <button class="card__button button crement" data-action="decrement">-1</button>
      <span class="card__button value crement">{{count}}</span>
      <button class="card__button button crement" data-action="increment">+1</button>
    </div>
  </div>
</li>