<div>
  <p><b>Country: {{name}}</b></p>
  <p><b>Capital: {{capital}}</b></p>
  <p><b>Population: {{population}}</b></p>
  <p><b>Languages:</b></p>
  <ul>
    {{#each languages}}
    <li>{{name}}</li>
    {{/each}}
  </ul>
</div>
<img src="{{flag}}">
</img>